@font-face {
  font-family: retroGame;
  src: url('../src/fonts/Retro Gaming.ttf');
}

body {
  padding: 5%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: retroGame, sans-serif;
  background: #060c16;
  color: #fff;
}

.page-header > h1 {
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.section-score-display {
  margin: 0 auto;
  width: 80%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.table-wrapper {
  width: 100%;
  height: 40vh;
  border: solid 3px #fff;
  border-radius: 20px;
  overflow-y: auto;
  margin-bottom: 5%;
}

.score-table {
  width: 100%;
  text-align: left;
  padding: 5%;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table-header {
  font-size: 1.5em;
  height: 7vh;
}

.data-row {
  font-size: 1.1em;
  font-weight: 100;
  height: 5vh;
}

.section-score-add {
  width: 100%;
  text-align: center;
}

#form-score-add {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#form-score-add > * {
  padding: 1% 0;
  margin: 3% 0;
}

#form-score-add > input {
  border: solid 5px #fff;
  background: #060c16;
  color: #fff;
  border-radius: 10px;
  font-family: retroGame, sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
}

.input-label {
  display: none;
}

#button-refresh,
#button-submit {
  border: solid 5px #fff;
  background: #060c16;
  color: #fff;
  font-size: 1.2em;
  font-family: retroGame, sans-serif;
}

#button-refresh {
  padding: 2%;
}

#button-submit {
  padding: 2%;
  width: 50%;
  align-self: flex-end;
}

#button-refresh:hover,
#button-submit:hover {
  cursor: pointer;
  background: #fff;
  color: #060c16;
}

.error-msg2 {
  width: 100%;
  font-size: 1.2em;
}

.red {
  color: crimson;
}

.green {
  color: green;
}

@media screen and (min-width: 992px) {
  .page-header > h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
