body {
  padding: 5%;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.section-score-display {
  padding: 5%;
  width: 80%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-wrapper {
  width: 100%;
  height: 40vh;
  padding: 3%;
  border: solid 1px black;
  overflow-y: auto;
}

.score-table {
  width: 100%;
  text-align: left;
}

.section-score-add {
  padding: 5%;
}

#form-score-add {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#form-score-add > * {
  padding: 1% 0;
  margin: 3% 0;
}

.input-label {
  display: none;
}

#button-submit {
  width: 30%;
  align-self: flex-end;
}

.error-msg2 {
  width: 100%;
  font-size: 1.2em;
}

.red {
  color: crimson;
}

.green {
  color: green;
}

@media screen and (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
